<div class="bar-section-collection">
    <div class="container-mid">
      <div class="bar-section-flex-row-collection">
        <div class="bar-section-flex-col-collection">
          <div class="bar-section-flex-col-inner-collection">
            <h3 class="bar-section-heading-collection">Shop All Bundles</h3>
            <div class="bar-section-btn-wrapper-collection"><a href="/pages/bundles" class="btn-transparent w-button">Shop Bundles</a></div>
          </div>
        </div>
        <div class="bar-section-flex-col-collection bar-section-flex-col-collection-right"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/shop-bundles-cta-min.png" loading="lazy" srcset="//cdn.shopify.com/s/files/1/0004/5829/3310/files/shop-bundles-cta-min-p-500.png 500w, //cdn.shopify.com/s/files/1/0004/5829/3310/files/shop-bundles-cta-min.png 1155w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 46vw, 45vw" alt="All Products" class="bar-section-img-collection"></div>
      </div>
    </div>
  </div>