<div class="cta-section-collection">
  <div class="container-mid">
    <div class="cta-flex-row-collection">
      <div class="cta-flex-col-collection cta-flex-col-collection-left"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/marketing-materials-min.jpg" loading="lazy" alt="Marketing Materials" srcset="//cdn.shopify.com/s/files/1/0004/5829/3310/files/marketing-materials-min-p-500.jpeg 500w, //cdn.shopify.com/s/files/1/0004/5829/3310/files/marketing-materials-min.jpg 700w" sizes="(max-width: 479px) 95vw, (max-width: 991px) 49vw, 400px" class="cta-flex-img-collection"></div>
      <div class="cta-flex-col-collection">
        <div class="cta-flex-col-inner-collection">
          <h3 class="cta-flex-col-heading-collection">IN–STORE MARKETING MATERIALS</h3>
          <p class="cta-flex-col-text-collection">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
          <div class="cta-flex-col-price-collection">$59.99</div>
          <div class="cta-btn-wrapper-collection"><a href="/products/marketing-materials" class="btn-transparent w-button">Add To Cart</a></div>
        </div>
      </div>
    </div>
  </div>
</div>