
<div class="footer-wrapper">
  <div class="footer-top-wrapper">
    <div class="container-mid">
      <div class="footer-row w-row">
        <div class="footer-col-left w-col w-col-4">
          <div class="footer-col-content-block">
            <div class="footer-col-heading">CUSTOMER RESOURCES</div>
            <div class="footer-contact-link-wrapper">
              <a href="/blogs/insider-info" class="footer-contact-link w-inline-block">
                <div>Insider Info</div>
              </a>
            </div>
            <div class="footer-contact-link-wrapper">
              <a href="/pages/marketing-materials" class="footer-contact-link w-inline-block">
                <div>Marketing Library</div>
              </a>
            </div>
            <div class="footer-contact-link-wrapper">
              <a href="https://partners.zandik.com" class="footer-contact-link w-inline-block" target="_blank">
                <div>Affiliate Program - Join</div>
              </a>
            </div>
            <div class="footer-contact-link-wrapper">
              <a href="https://partners.zandik.com/login" class="footer-contact-link w-inline-block" target="_blank">
                <div>Affiliate Program - Login</div>
              </a>
            </div>
          </div>
          <div class="footer-col-content-block">
            <div class="footer-col-heading">Contact Us</div>
            <div class="footer-contact-link-wrapper">
              <a href="mailto:professionals@zandik.com" class="footer-contact-link w-inline-block">
                <div>professionals@zandik.com</div>
              </a>
            </div>
            <div class="footer-contact-link-wrapper">
              <a href="tel:+17202953516" class="footer-contact-link w-inline-block">
                <div>(720) 295-3516</div>
              </a>
            </div>
          </div>
        </div>
        <div class="footer-col-middle w-col w-col-4">
          <div class="footer-logo-wrapper"><a href="/" class="footer-logo-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/ZK_Professional_SubLogo_White-min.png" alt="Zandi K Professional" class="footer-logo-img"></a></div>
          <div class="footer-menu-wrapper">
            <div class="footer-menu-link-wrapper">
              <a href="/" class="footer-menu-link w-inline-block">
                <div>Home</div>
              </a>
            </div>
            <div class="footer-menu-link-wrapper">
              <a href="/collections/all-products" class="footer-menu-link w-inline-block">
                <div>Products</div>
              </a>
            </div>
            <div class="footer-menu-link-wrapper">
              <a href="/pages/auto-shipments" class="footer-menu-link w-inline-block">
                <div>Auto Shipments</div>
              </a>
            </div>
            <div class="footer-menu-link-wrapper">
              <a href="/pages/contact" class="footer-menu-link w-inline-block">
                <div>Contact</div>
              </a>
            </div>
          </div>
        </div>
        <div class="footer-col-right w-col w-col-4">
          <div class="footer-col-content-block">
            <div class="footer-col-heading">Customer Care</div>
            <div class="footer-contact-link-wrapper">
              <a href="/account" class="footer-contact-link w-inline-block">
                <div>My Account</div>
              </a>
            </div>
            <div class="footer-contact-link-wrapper">
              <a href="/cart" class="footer-contact-link w-inline-block">
                <div>My Cart</div>
              </a>
            </div>
            <div class="footer-contact-link-wrapper">
              <a href="/pages/frequently-asked-questions" class="footer-contact-link w-inline-block">
                <div>FAQs</div>
              </a>
            </div>
            {% comment %}
            <div class="footer-contact-link-wrapper">
              <a href="/pages/wholesale-policies" class="footer-contact-link w-inline-block">
                <div>Wholesale Policies</div>
              </a>
            </div>
            {% endcomment %}
          </div>
          <div class="footer-col-content-block">
            <div class="footer-col-heading">More Information</div>
            <div class="footer-contact-link-wrapper">
              <a href="/pages/privacy-policy" class="footer-contact-link w-inline-block">
                <div>Privacy Policy</div>
              </a>
            </div>
            <div class="footer-contact-link-wrapper">
              <a href="/pages/refund-policy" class="footer-contact-link w-inline-block">
                <div>Refund Policy</div>
              </a>
            </div>
            <div class="footer-contact-link-wrapper">
              <a href="/pages/terms-of-service" class="footer-contact-link w-inline-block">
                <div>Terms of Service</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="footer-bottom-text">Copyright 2021 I Designed by <a href="https://www.sidekickwebstudio.com/" target="_blank" class="footer-bottom-link">Sidekick Web Studio</a></div>
  </div>
</div>

{% schema %}
{
  "name": "Footer"
}
{% endschema %}

