<div class="fixed-nav-modal">
  <div class="fixed-nav-modal-outer-row">
    <div class="fixed-nav-modal-outer-col-left" data-ix="nav-modal-close"></div>
    <div class="fixed-nav-menu-content-wrapper">
      <div class="fixed-nav-menu-close-btn" data-ix="nav-modal-close"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/close_1close.png" alt="Close" class="fixed-nav-menu-close-btn-img"></div>
      <div class="fixed-nav-menu-content-inner">
        <div class="fixed-nav-menu-wrapper">
          <div class="fixed-nav-menu-link-wrapper">
            <a href="/" class="fixed-nav-menu-link w-inline-block">
              <div>Home</div>
            </a>
          </div>
          <div class="fixed-nav-menu-link-wrapper">
            <a href="/collections/all-products" class="fixed-nav-menu-link w-inline-block">
              <div>Products</div>
            </a>
          </div>
          <div class="fixed-nav-menu-link-wrapper">
            <a href="/pages/marketing-materials" class="fixed-nav-menu-link w-inline-block">
              <div>Marketing Library</div>
            </a>
          </div>
          <div class="fixed-nav-menu-link-wrapper">
            <a href="/pages/auto-shipments" class="fixed-nav-menu-link w-inline-block">
              <div>Auto Shipments</div>
            </a>
          </div>
          <div class="fixed-nav-menu-link-wrapper fixed-nav-menu-link-wrapper-mobile">
            <a href="/blogs/insider-info" class="fixed-nav-menu-link w-inline-block">
              <div>Insider Info</div>
            </a>
          </div>
          <div class="fixed-nav-menu-link-wrapper">
            <a href="/pages/contact" class="fixed-nav-menu-link w-inline-block">
              <div>Contact</div>
            </a>
          </div>
        </div>
        <div class="fixed-nav-bottom-content-wrapper">
          <div class="fixed-nav-bottom-link-wrapper">
            <a href="https://partners.zandik.com" target="_blank" class="fixed-nav-bottom-link w-inline-block">
              <div>Affiliate Program - Join</div>
            </a>
          </div>
          <div class="fixed-nav-bottom-link-wrapper">
            <a href="https://partners.zandik.com/login" target="_blank" class="fixed-nav-bottom-link w-inline-block">
              <div>Affiliate Program - Login</div>
            </a>
          </div>
          <div class="fixed-nav-bottom-link-wrapper">
            <a href="/cart" class="fixed-nav-bottom-link w-inline-block">
              <div>My Cart</div>
            </a>
          </div>
          <div class="fixed-nav-bottom-link-wrapper">
            <a href="/account" class="fixed-nav-bottom-link w-inline-block">
              <div>My Account</div>
            </a>
          </div>
        </div>
      </div>
      <div class="fixed-nav-menu-social-wrapper">
        <div class="fixed-nav-menu-social-content-wrapper"><a href="https://www.facebook.com/zandikproducts/" target="_blank" class="fixed-nav-menu-social-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/FB-Icon-black_1FB-Icon-black.png" alt="Facebook" class="fixed-nav-menu-social-img"></a><a href="https://www.instagram.com/zandikproducts/" target="_blank" class="fixed-nav-menu-social-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/Instagram-Icon-black_1Instagram-Icon-black.png" alt="Instagram" class="fixed-nav-menu-social-img"></a></div><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/white-piece.png" alt="Triangle" class="fixed-nav-social-bg-img"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fixed Nav Modal"
}
{% endschema %}
