<div class="fixed-nav-wrapper">
  <div class="fixed-navbar">
    
    <div class="fixed-nav-container">
      <div class="fixed-nav-flex-row">
        <div class="fixed-nav-flex-col"><a href="https://www.facebook.com/zandikproducts/" target="_blank" class="fixed-nav-social-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/FB-Icon-white_1FB-Icon-white.png" alt="Facebook" class="fixed-nav-social-img"></a><a href="https://www.instagram.com/zandikproducts/" target="_blank" class="fixed-nav-social-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/Instagram-Icon-white_1Instagram-Icon-white.png" alt="Instagram" class="fixed-nav-social-img"></a></div>
        <div class="fixed-nav-logo-wrapper"><a href="/" class="fixed-nav-logo-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/ZK_Professional_SubLogo_White-min.png" alt="Zandi K" class="fixed-nav-logo-img"></a></div>
        <div class="fixed-nav-flex-col">
          <a href="/cart" class="fixed-nav-cart-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/cart-w-min.png" loading="lazy" alt="Cart" class="fixed-nav-cart-img"><div class="nav-cart-text-fixed">{{ cart.item_count }}</div></a>
          <div class="fixed-nav-menu-btn" data-ix="nav-modal-open">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fixed Nav"
}
{% endschema %}