<div class="bar-cta">
  <div class="container-large">
    <div class="bar-cta-flex-row">
      <h2 class="bar-cta-heading">TAKE YOUR RETAIL TO THE NEXT LEVEL</h2>
      <a href="/collections/all-products" class="bar-cta-flex-link w-inline-block">
        <div>Shop Now</div><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/arrow-b-min-new.png" alt="Arrow" class="bar-cta-flex-img"></a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Black Bar"
 
}
{% endschema %}