<div class="cta-newsletter-section">
  <div class="cta-newsletter-container">
    <div class="cta-newsletter-heading-wrapper" data-ix="fadeindown">
      <h3 class="w-basic-heading section-heading-sm">KEEP UP WITH ZANDILAND!</h3>
    </div>
    <div class="cta-form-block">
      <div class="klaviyo-form-U3q2qa"></div>
      {% comment %}
      <form id="email-form" name="email-form" data-name="Email Form" method="get" action="#">
        <div class="cta-form-flex-row" data-ix="fadeinup"><input type="email" class="cta-form-input w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="your email address" id="email-2" required=""><input type="submit" value="SIGN ME UP!" data-wait="Please wait..." class="cta-form-btn w-button"></div>
      </form>
      {% endcomment %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Newsletter Signup"
}
{% endschema %}