<div class="footer-wrapper">
  <div class="footer-top-wrapper">
    <div class="footer-container">

        <div class="footer-logo-wrapper footer-logo-wrapper-alt">
          <a href="/" class="footer-logo-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0004/5829/3310/files/Curved_catlogo-BrightPink_1.png?v=1675189018" loading="lazy" alt="ZandiLand" class="footer-logo-img footer-logo-img-alt"></a>
        </div>

        <div class="footer-contact-flex-col">
          <div class="footer-contact-flex-col-inner">
            <a href="/account/login" class="footer-contact-link w-inline-block">
              <div>Login To My Account</div>
            </a>
            
          </div>
        </div>

        <div class="footer-contact-flex-col">
          <div class="footer-contact-flex-col-inner">
            <a href="https://zandilandbeauty.com/" class="footer-contact-link w-inline-block">
              <div>BACK TO ZANDILAND BEAUTY</div>
            </a>
            
          </div>
        </div>

    </div>
  </div>
  <div class="footer-contact-wrapper">
    <div class="footer-copy-text">ZandiLand © 2022</div>
  </div>
</div>


{% schema %}
{
  "name": "Footer"
}
{% endschema %}



