<div class="footer-wrapper">
  <div class="footer-top-wrapper">
    <div class="footer-container">
      <div class="footer-flex-row">
        <div class="footer-flex-col-1">
          <div class="footer-logo-wrapper">
            <a href="/" class="footer-logo-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/Curved_catlogo-BrightPink_1.png?v=1675189018" loading="lazy" alt="ZandiLand" class="footer-logo-img"></a>
          </div>
        </div>












        {%comment%} ------------------ Mobile Footer --------------------- {%endcomment%}
        <div class="mobile-footer-container">
          <nav role="navigation" id="menu-mobile" class="nav-menu-footer mobile footer w-nav-menu">
        
        
        
        
          <div data-hover="true" data-delay="0" class="nav-dropdown-show-mobile footer w-dropdown">
            <div class="nav-dropdown-toggle footer w-dropdown-toggle">
              <div class="footer-menu-heading mobile">QUICK LINKS</div>
              <img src="https://cdn.shopify.com/s/files/1/1242/8658/files/arrow-left-sk-update.png?v=1652744848" class="mobile-nav-arrow">
            </div>
            <nav class="nav-dropdown-menu footer w-dropdown-list">
              <div class="nav-link-menu-wrapper footer mobile">
                <div class="footer-link-wrapper">
                  <a href="/" class="footer-link w-inline-block">
                    <div>Home</div>
                  </a>
                </div>
                <div class="footer-link-wrapper">
                  <a href="/collections/all-products" class="footer-link w-inline-block">
                    <div>Products</div>
                  </a>
                </div>
                <div class="footer-link-wrapper">
                  <a href="/pages/auto-shipments" class="footer-link w-inline-block">
                    <div>Auto Shipments</div>
                  </a>
                </div>
                <div class="footer-link-wrapper footer-link-wrapper-last">
                  <a href="/pages/contact" class="footer-link w-inline-block">
                    <div>Contact</div>
                  </a>
                </div>
        
              </div>
            </nav>
          </div>


          <div data-hover="true" data-delay="0" class="nav-dropdown-show-mobile footer w-dropdown">
            <div class="nav-dropdown-toggle footer w-dropdown-toggle">
        
                <div class="footer-menu-heading mobile">RESOURCES</div>
                <img src="https://cdn.shopify.com/s/files/1/1242/8658/files/arrow-left-sk-update.png?v=1652744848" class="mobile-nav-arrow">
            </div>
            <nav class="nav-dropdown-menu footer w-dropdown-list">
              <div class="nav-link-menu-wrapper footer mobile">
                <div class="footer-link-wrapper">
                  <a href="/blogs/insider-info" class="footer-link w-inline-block">
                    <div>Insider Info</div>
                  </a>
                </div>
                <div class="footer-link-wrapper">
                  <a href="https://partners.zandilandbeauty.com/create-account" class="footer-link w-inline-block" target="_blank">
                    <div>Affiliate Program - Join</div>
                  </a>
                </div>
                <div class="footer-link-wrapper footer-link-wrapper-last">
                  <a href="https://partners.zandilandbeauty.com/login" class="footer-link w-inline-block" target="_blank">
                    <div>Affiliate Program - Login</div>
                  </a>
                </div>
              </div>
            </nav>
          </div>
        
          <div data-hover="true" data-delay="0" class="nav-dropdown-show-mobile footer w-dropdown">
            <div class="nav-dropdown-toggle footer w-dropdown-toggle">
        
                <div class="footer-menu-heading mobile">CUSTOMER CARE</div>
                <img src="https://cdn.shopify.com/s/files/1/1242/8658/files/arrow-left-sk-update.png?v=1652744848" class="mobile-nav-arrow">
            </div>
            <nav class="nav-dropdown-menu footer w-dropdown-list">
              <div class="nav-link-menu-wrapper footer mobile">
                <div class="footer-link-wrapper">
                  <a href="/account" class="footer-link w-inline-block">
                    <div>My Account</div>
                  </a>
                </div>
                <div class="footer-link-wrapper">
                  <a href="/cart" class="footer-link w-inline-block">
                    <div>My Cart</div>
                  </a>
                </div>
                <div class="footer-link-wrapper footer-link-wrapper-last">
                  <a href="/pages/frequently-asked-questions" class="footer-link w-inline-block">
                    <div>FAQ’s</div>
                  </a>
                </div>
              </div>
            </nav>
          </div>
          <div data-hover="true" data-delay="0" class="nav-dropdown-show-mobile footer w-dropdown">
            <div class="nav-dropdown-toggle footer w-dropdown-toggle">
              <div class="footer-menu-heading mobile">MORE INFORMATION</div>
              <img src="https://cdn.shopify.com/s/files/1/1242/8658/files/arrow-left-sk-update.png?v=1652744848" class="mobile-nav-arrow">
            </div>
            <nav class="nav-dropdown-menu footer w-dropdown-list">
              <div class="nav-link-menu-wrapper footer mobile">
                <div class="footer-link-wrapper">
                  <a href="/pages/privacy-policy" class="footer-link w-inline-block">
                    <div>Privacy Policy</div>
                  </a>
                </div>
                <div class="footer-link-wrapper">
                  <a href="/pages/refund-policy" class="footer-link w-inline-block">
                    <div>Refund Policy</div>
                  </a>
                </div>
                <div class="footer-link-wrapper">
                  <a href="/pages/terms-of-service" class="footer-link w-inline-block">
                    <div>Terms of Service</div>
                  </a>
                </div>
              </div>
            </nav>
          </div>
          
        </nav>
        
        </div>



















        <script>
          $(document).ready(function() {
              $(".nav-dropdown-toggle").on('click', 
        
        
              function() {
        
                
                if ($(this).siblings(".nav-dropdown-menu").hasClass('w--open')==true) /* Chaeck if the arrow is rotated */
                {
                  $(this).siblings(".nav-dropdown-menu").removeClass("w--open");
        
                }
                else
                $(this).siblings(".nav-dropdown-menu").addClass("w--open");
              },
        
        
        
              
              
              );
          });
        
          $(document).ready(function() {
              $(".nav-dropdown-toggle").on('click', 
        
        
              function() {
                
                if ($(this).children(".mobile-nav-arrow").hasClass('rotate')==false)
                {
                  $(this).children(".mobile-nav-arrow").addClass("rotate");
                }
                else
                  $(this).children(".mobile-nav-arrow").removeClass("rotate");
              },
              );
          });
        
            </script>
        



























      <div class="desktop-footer-container">
        <div class="footer-flex-col-2">
          <div class="footer-menu-heading">QUICK LINKS</div>
          <div class="footer-link-section">
            <div class="footer-link-wrapper">
              <a href="/" class="footer-link w-inline-block">
                <div>Home</div>
              </a>
            </div>
            
            <div class="footer-link-wrapper">
              {%comment%}
              <a href="https://partners.zandik.com/" class="footer-link w-inline-block" target="_blank">
                <div>Affiliate Program - Join</div>
              </a>
              {%endcomment%}
              <a href="/collections/all-products" class="footer-link w-inline-block">
                <div>Products</div>
              </a>
              
            </div>
            <div class="footer-link-wrapper">

              <a href="/pages/auto-shipments" class="footer-link w-inline-block">
                <div>Auto Shipments</div>
              </a>
              
            </div>
            <div class="footer-link-wrapper footer-link-wrapper-last">

              {%comment%}
              <a href="https://partners.zandik.com/login" class="footer-link w-inline-block" target="_blank">
                <div>Affiliate Program - Login</div>
              </a>
              {%endcomment%}

              <a href="/pages/contact" class="footer-link w-inline-block">
                <div>Contact</div>
              </a>
             
            </div>
          </div>
          {%comment%}
          <div class="footer-menu-wrapper">
            <div class="footer-menu-inner">
              <div class="footer-menu-link-wrapper">
                <a href="/" class="footer-menu-link w-inline-block">
                  <div>Home</div>
                </a>
              </div>
              <div class="footer-menu-link-wrapper">
                <a href="/collections/all-products" class="footer-menu-link w-inline-block">
                  <div>Products</div>
                </a>
              </div>
              <div class="footer-menu-link-wrapper">
                <a href="/pages/auto-shipments" class="footer-menu-link w-inline-block">
                  <div>Auto Shipments</div>
                </a>
              </div>
              <div class="footer-menu-link-wrapper footer-menu-link-wrapper-last">
                <a href="/pages/contact" class="footer-menu-link w-inline-block">
                  <div>Contact</div>
                </a>
              </div>
            </div>
          </div>
          {%endcomment%}
        </div>
        <div class="footer-flex-col-3">
          <div class="footer-menu-heading">RESOURCES</div>
          <div class="footer-link-section">
            <div class="footer-link-wrapper">
              <a href="/blogs/insider-info" class="footer-link w-inline-block">
                <div>Insider Info</div>
              </a>
            </div>
            
            <div class="footer-link-wrapper">
              {%comment%}
              <a href="https://partners.zandik.com/" class="footer-link w-inline-block" target="_blank">
                <div>Affiliate Program - Join</div>
              </a>
              {%endcomment%}
              <a href="https://partners.zandilandbeauty.com/create-account" class="footer-link w-inline-block" target="_blank">
                <div>Affiliate Program - Join</div>
              </a>
              
            </div>
            <div class="footer-link-wrapper footer-link-wrapper-last">

              {%comment%}
              <a href="https://partners.zandik.com/login" class="footer-link w-inline-block" target="_blank">
                <div>Affiliate Program - Login</div>
              </a>
              {%endcomment%}

              <a href="https://partners.zandilandbeauty.com/login" class="footer-link w-inline-block" target="_blank">
                <div>Affiliate Program - Login</div>
              </a>
             
            </div>
          </div>
        </div>
        <div class="footer-flex-col-4">
          <div class="footer-menu-heading">Customer Care</div>
          <div class="footer-link-section">
            <div class="footer-link-wrapper">
              <a href="/account" class="footer-link w-inline-block">
                <div>My Account</div>
              </a>
            </div>
            <div class="footer-link-wrapper">
              <a href="/cart" class="footer-link w-inline-block">
                <div>My Cart</div>
              </a>
            </div>
            <div class="footer-link-wrapper">
              <a href="/pages/frequently-asked-questions" class="footer-link w-inline-block">
                <div>FAQ’s</div>
              </a>
            </div>
          </div>
        </div>
        <div class="footer-flex-col-5">
          <div class="footer-menu-heading">More Information</div>
          <div class="footer-link-section">
            <div class="footer-link-wrapper">
              <a href="/pages/privacy-policy" class="footer-link w-inline-block">
                <div>Privacy Policy</div>
              </a>
            </div>
            <div class="footer-link-wrapper">
              <a href="/pages/refund-policy" class="footer-link w-inline-block">
                <div>Refund Policy</div>
              </a>
            </div>
            <div class="footer-link-wrapper">
              <a href="/pages/terms-of-service" class="footer-link w-inline-block">
                <div>Terms of Service</div>
              </a>
            </div>
          </div>
        </div>
        <div class="footer-flex-col-6">
          <div class="footer-payment-flex-row">
            <div class="footer-payment-flex-col"><img src="//cdn.shopify.com/s/files/1/1242/8658/files/visa-fill-sk-update.png" loading="lazy" alt="Visa" class="footer-payment-img"></div>
            <div class="footer-payment-flex-col"><img src="//cdn.shopify.com/s/files/1/1242/8658/files/mastercard-fill-sk-update.png" loading="lazy" alt="Mastercard" class="footer-payment-img"></div>
            <div class="footer-payment-flex-col"><img src="//cdn.shopify.com/s/files/1/1242/8658/files/discover-fill-sk-update.png" loading="lazy" alt="Discover" class="footer-payment-img"></div>
            <div class="footer-payment-flex-col"><img src="//cdn.shopify.com/s/files/1/1242/8658/files/amex-fill-sk-update.png" loading="lazy" alt="AMEX" class="footer-payment-img"></div>
          </div>
          <div class="footer-payment-flex-row">
            <div class="footer-payment-flex-col"><img src="//cdn.shopify.com/s/files/1/1242/8658/files/paypal-fill-sk-update.png" loading="lazy" alt="PayPal" class="footer-payment-img"></div>
            <div class="footer-payment-flex-col"><img src="//cdn.shopify.com/s/files/1/1242/8658/files/applepay-fill-sk-update.png" loading="lazy" alt="Apple Pay" class="footer-payment-img"></div>
            <div class="footer-payment-flex-col"><img src="//cdn.shopify.com/s/files/1/1242/8658/files/card-default-fill-sk-update.png" loading="lazy" alt="Credit Card" class="footer-payment-img"></div>
            <div class="footer-payment-flex-col"><img src="//cdn.shopify.com/s/files/1/1242/8658/files/cash-dollar-fill-sk-update.png" loading="lazy" alt="" class="footer-payment-img"></div>
          </div>

        </div>
      </div>
    </div>

      <div class="footer-contact-flex-row">
        <div class="footer-contact-flex-col">
          <div class="footer-contact-flex-col-inner">
            <a href="mailto:ORDERS@ZANDILANDBEAUTY.COM" class="footer-contact-link w-inline-block">
              <div class="footer-icon">
                <img src="https://cdn.shopify.com/s/files/1/1242/8658/files/email.svg?v=1660753767">
              </div>
              <div>ORDERS@ZANDILANDBEAUTY.COM</div>
            </a>
          </div>
        </div>
        <div class="footer-contact-flex-col">
          <div class="footer-contact-flex-col-inner">
            <a href="tel:+17203094379" class="footer-contact-link w-inline-block">
              <div class="footer-icon">
                <img src="https://cdn.shopify.com/s/files/1/1242/8658/files/phone.svg?v=1660753767">
              </div>
              <div>(720) 309-4379</div>
            </a>
          </div>
        </div>

{%- comment -%}
        <div class="footer-contact-flex-col">
          <div class="footer-contact-flex-col-inner">
            <a href="mailto:press@zandilandbeauty.com" class="footer-contact-link w-inline-block">
              <div class="footer-icon">
                <img src="https://cdn.shopify.com/s/files/1/1242/8658/files/press.svg?v=1660753767">
              </div>
              <div>press@zandilandbeauty.com</div>
            </a>
          </div>
        </div>
{%- endcomment -%}

      </div>

      {%comment%}
      <div class="footer-contact-flex-row">
        <div class="footer-contact-flex-col">
          <div class="footer-contact-flex-col-inner">
            <a href="mailto:orders@zandilandbeauty.com" class="footer-contact-link w-inline-block">
              <div>orders@zandilandbeauty.com</div>
            </a>
            <div class="footer-contact-link-heading">Email</div>
          </div>
        </div>
        <div class="footer-contact-flex-col">
          <div class="footer-contact-flex-col-inner">
            <a href="tel:+17203094379" class="footer-contact-link w-inline-block">
              <div>(720) 309-4379</div>
            </a>
            <div class="footer-contact-link-heading">Call</div>
          </div>
        </div>
      </div>
      {%endcomment%}
    </div>
  </div>
  <div class="footer-contact-wrapper">
    <div class="footer-copy-text">ZandiLand © 2022</div>
  </div>
</div>




{% schema %}
{
  "name": "Footer"
}
{% endschema %}



