


<div class="bottom-product-section-home">
  <div class="product-section-heading-wrapper-home">
    <h3 class="w-basic-heading section-heading">Stock Your Shelves With Bundles!</h3>
  </div>
  <div class="product-slider-wrapper">
    <div class="product-slider-container-bottom">
      <div class="product-slider-flex-row-bottom">
        <div class="product-slider-flex-col">
          <div class="product-slider-flex-col-inner">
            <div class="product-slider-img-wrapper">
              <a href="#" class="product-slider-img-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/bundle-variety-min-sk-update.png" loading="eager" alt="" class="product-slider-main-img"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/product-bg-b-sk-update.png" loading="lazy"  alt="Black Circle" class="product-slider-bg-img"></a>
            </div>
            <div class="product-slider-info-wrapper">
              <h4 class="w-basic-heading product-slider-heading">
                <a href="#" class="product-slider-heading-link">PURE DUO</a>
              </h4>
              <div class="product-slider-sub-heading">EXFOLIATING BIKINI SCRUB</div>
              <div class="product-slider-price-text">$59</div>
            </div>
            <div class="product-slider-btn-wrapper">
              <a href="#" class="btn-transparent w-button">Learn More</a>
            </div>
          </div>
        </div>
        <div class="product-slider-flex-col">
          <div class="product-slider-flex-col-inner">
            <div class="product-slider-img-wrapper">
              <a href="#" class="product-slider-img-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/bundle-pure-min-sk-update.png" loading="eager"  alt="" class="product-slider-main-img"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/product-bg-b-sk-update.png" loading="lazy"  alt="Black Circle" class="product-slider-bg-img"></a>
            </div>
            <div class="product-slider-info-wrapper">
              <h4 class="w-basic-heading product-slider-heading">
                <a href="#" class="product-slider-heading-link">OG TRIO</a>
              </h4>
              <div class="product-slider-sub-heading">EXFOLIATING BIKINI SCRUB</div>
              <div class="product-slider-price-text">$59</div>
            </div>
            <div class="product-slider-btn-wrapper">
              <a href="#" class="btn-transparent w-button">Learn More</a>
            </div>
          </div>
        </div>
        <div class="product-slider-flex-col">
          <div class="product-slider-flex-col-inner">
            <div class="product-slider-img-wrapper">
              <a href="#" class="product-slider-img-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/bundle-variety-min-sk-update.png" loading="eager" alt="" class="product-slider-main-img"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/product-bg-b-sk-update.png" loading="lazy"  alt="Black Circle" class="product-slider-bg-img"></a>
            </div>
            <div class="product-slider-info-wrapper">
              <h4 class="w-basic-heading product-slider-heading">
                <a href="#" class="product-slider-heading-link">PURE DUO</a>
              </h4>
              <div class="product-slider-sub-heading">EXFOLIATING BIKINI SCRUB</div>
              <div class="product-slider-price-text">$59</div>
            </div>
            <div class="product-slider-btn-wrapper">
              <a href="#" class="btn-transparent w-button">Learn More</a>
            </div>
          </div>
        </div>
        <div class="product-slider-flex-col">
          <div class="product-slider-flex-col-inner">
            <div class="product-slider-img-wrapper">
              <a href="#" class="product-slider-img-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/bundle-pure-min-sk-update.png" loading="eager"  alt="" class="product-slider-main-img"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/product-bg-b-sk-update.png" loading="lazy"  alt="Black Circle" class="product-slider-bg-img"></a>
            </div>
            <div class="product-slider-info-wrapper">
              <h4 class="w-basic-heading product-slider-heading">
                <a href="#" class="product-slider-heading-link">OG TRIO</a>
              </h4>
              <div class="product-slider-sub-heading">EXFOLIATING BIKINI SCRUB</div>
              <div class="product-slider-price-text">$59</div>
            </div>
            <div class="product-slider-btn-wrapper">
              <a href="#" class="btn-transparent w-button">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Bundles Section"
}
{% endschema %}

