<div class="fixed-nav-section">
  <div
    data-animation="default"
    data-collapse="medium"
    data-duration="400"
    data-easing="ease"
    data-easing2="ease"
    role="banner"
    class="navbar w-nav">
    <div class="nav-container w-container">
      <div class="nav-flex-row-outer">
        <div class="nav-meta-section">
          <div class="nav-meta-flex-row">
            <a href="/account" class="nav-meta-flex-link w-inline-block"><img
                src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/Account-New-solid.png"
                loading="lazy"
                alt="User"
                class="nav-meta-flex-img"></a>
            <a href="/cart" class="nav-meta-flex-link cart w-inline-block">
              <div id="nav-cart-quantity" class="cart-quantity">{{ cart.item_count }}</div>
              <img
                src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/Shopping-Bag-solid.png"
                loading="lazy"
                alt="Cart"
                class="nav-meta-flex-img"></a>
          </div>
        </div>
        <div class="nav-logo-wrapper-mobile">
          <a href="/" class="nav-logo-link-mobile w-inline-block">
            <img
              src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/Curved_catlogo-BrightPink_1.png?v=1675189018"
              loading="lazy"
              alt="ZandiLand"
              class="nav-logo-img-mobile">
          </a>
        </div>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a
            href="/"
            aria-current="page"
            class="nav-link w-nav-link">Home</a>
          <a href="/collections/all-products" class="nav-link w-nav-link">Shop</a>
          <a href="/pages/auto-shipments" class="nav-link w-nav-link">Auto Shipments</a>
          <a href="/pages/frequently-asked-questions" class="nav-link w-nav-link">FAQs</a>



          <div
            data-hover="true"
            data-delay="0"
            class="nav-dropdown-show-mobile footer w-dropdown">
            <div class="nav-dropdown-toggle desktop w-dropdown-toggle">
              <div class="nav-link w-nav-link less-margin">AFFILIATE PROGRAM</div>
              <img src="https://cdn.shopify.com/s/files/1/1242/8658/files/arrow-left-sk-update.png?v=1652744848" class="desktop-nav-arrow">
            </div>
            <nav class="nav-dropdown-menu footer w-dropdown-list">
              <div class="nav-link-menu-wrapper footer desktop">
                <div class="footer-link-wrapper">
                  <a
                    href="https://partners.zandilandbeauty.com/create-account"
                    target="_blank"
                    class="nav-link smaller w-nav-link">
                    <div>JOIN</div>
                  </a>
                </div>
                <div class="footer-link-wrapper">
                  <a
                    href="https://partners.zandilandbeauty.com/login"
                    target="_blank"
                    class="nav-link smaller w-nav-link">
                    <div>LOGIN</div>
                  </a>
                </div>

              </div>
            </nav>
          </div>



          <a href="/blogs/insider-info" class="nav-link w-nav-link">Blog</a>
        </nav>
        <div class="menu-btn-wrapper">
          <div class="menu-btn w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="announce-bar">
    <div class="announce-container">
      <div class="announce-rte w-richtext">
        {{ section.settings.announce_text }}
      </div>
      {% comment %}
      <div class="announce-close-btn" data-ix="announce-close"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/close-white-sk-update.png" loading="lazy" alt="Close" class="announce-close-img"></div>
      {% endcomment %}
    </div>
  </div>
</div>

<script>


  $(document).ready(function() {
    $(".nav-dropdown-toggle").on('click', function() {

      if ($(this).children(".desktop-nav-arrow").hasClass('rotate') == false) {
        $(this).children(".desktop-nav-arrow").addClass("rotate");
      } else 
        $(this).children(".desktop-nav-arrow").removeClass("rotate");
      

    },);
  });
</script>


{% schema %}
  {
    "name": "Navigation",
    "settings": [
      {
        "type": "richtext",
        "id": "announce_text",
        "default": "<p>FREE SHIPPING ON ALL ORDERS WITHIN U.S.</p>",
        "label": "Announcement Text"
      }
    ]
  }
{% endschema %}