{%comment%}
<div class="ig-section">
  
  <div class="ig-heading-section">
    <div class="container-small">
      <div class="ig-section-heading-wrapper">
        <h3 class="section-heading-sm white" data-ix="fadeindown" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">FOLLOW US ON SOCIAL FOR ALL THE LATEST TEA</h3>
      </div>
      <div class="ig-social-flex-row" data-ix="fadeinup" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px); transition: opacity 1000ms ease 0s, transform 1000ms ease 0s;">
        <a href="https://www.facebook.com/zandikproducts/" class="ig-social-link w-inline-block" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1242/8658/files/FB-white.png?v=1666995218" loading="lazy" alt="Facebook" class="ig-social-img"></a>
        <a href="https://www.instagram.com/zandikproducts/" class="ig-social-link w-inline-block" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1242/8658/files/IG-white.png?v=1666995218" loading="lazy" alt="Instagram" class="ig-social-img"></a>
        <a href="#" class="ig-social-link w-inline-block" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1242/8658/files/Pinterest-white_3caa9f8b-c753-4ee4-b049-ca2f50ce387b.png?v=1666995218" loading="lazy" alt="Pinterest" class="ig-social-img"></a>
      </div>
    </div>
  </div>

  <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/8a91d8af2a1554cbbd0273a81f733177.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0px; overflow: hidden; height: 277px;"></iframe>


</div>
{%endcomment%}

<div class="ig-section">
  
  <div class="ig-bar">
    <div data-w-id="daf4a296-5761-5ec6-df3d-9acec9328586" data-animation-type="lottie" data-src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/zandi-bar0512.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="20.02001920458794" data-duration="0"></div>
  </div>

  <div class="ig-heading-section">
    <div class="container-small">
      <div class="ig-section-heading-wrapper">
        <h3 class="w-basic-heading section-heading-sm white" data-ix="fadeindown">FOLLOW US ON SOCIAL FOR ALL THE LATEST TEA</h3>
      </div>
      <div class="ig-social-flex-row" data-ix="fadeinup">
        <a href="https://www.facebook.com/zandikproducts/" class="ig-social-link w-inline-block" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0004/5829/3310/files/FB-white.webp?v=1670876153" loading="lazy" alt="Facebook" class="ig-social-img"></a>
        <a href="https://www.instagram.com/zandikproducts/" class="ig-social-link w-inline-block" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0004/5829/3310/files/IG-white.webp?v=1670876153" loading="lazy" alt="Instagram" class="ig-social-img"></a>
        <a href="#" class="ig-social-link w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0004/5829/3310/files/Pinterest-white_3caa9f8b-c753-4ee4-b049-ca2f50ce387b.webp?v=1670876154" loading="lazy" alt="Pinterest" class="ig-social-img"></a>
      </div>
    </div>
  </div>
  <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/8a91d8af2a1554cbbd0273a81f733177.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
 {% comment %}
  <div class="ig-flex-row">
    <div class="ig-flex-col">
      <div class="ig-flex-col-inner"></div>
    </div>
    <div class="ig-flex-col">
      <div class="ig-flex-col-inner"></div>
    </div>
    <div class="ig-flex-col">
      <div class="ig-flex-col-inner"></div>
    </div>
    <div class="ig-flex-col">
      <div class="ig-flex-col-inner"></div>
    </div>
    <div class="ig-flex-col">
      <div class="ig-flex-col-inner"></div>
    </div>
  </div>
 {% endcomment %}
</div>



{% schema %}
{
  "name": "Instagram Section"
}
{% endschema %}

