

<div class="top-link-section">
  <div class="top-link-flex-row">
    <div class="top-link-flex-col">
      <a href="https://zandilandbeauty.com/" target="_blank" class="top-link-block top-link-block-alt w-inline-block" data-ix="top-logo-hover">
        <div class="top-link-block-inner">
          <div class="top-link-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/zl-beauty-w-min-sk-update.png" loading="eager" alt="ZandiLand Beauty" class="top-link-img"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/zl-beauty-p-min-sk-update.png" loading="eager" alt="ZandiLand Beauty" class="top-link-img-hover"></div>
        </div>
      </a>
    </div>
    <div class="top-link-flex-col">
      <a href="/" class="top-link-block w-inline-block" data-ix="top-logo-hover">
        <div class="top-link-block-inner">
          <div class="top-link-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/zl-pro-b-min-sk-update.png" loading="eager" alt="ZandiLand Professional" class="top-link-img"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/zl-pro-p-min-sk-update.png" loading="eager" alt="ZandiLand Professional" class="top-link-img-hover"></div>
        </div>
      </a>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Top Link Section"
}
{% endschema %}


