<div class="mid-wrapper-404">
	<div class="content-wrapper-404">
		<p class="text-404">It looks like the page you are looking for isn't available...</p>
		<div class="btn-wrapper-404">
			<a href="/" class="btn-404 w-button">Go Back to Home Page</a>
		</div>
	</div>
</div>