{%section 'sk-bundles-hero'%}
  
{%comment%}
{% section 'jc-bundles-hero-section' %}



<div class="sub-hero-wrapper-collection">
  <div class="container-large">
  	<div class="sub-hero-flex-row-collection">
  	  <a href="/collections/all-products" class="sub-hero-flex-link-collection w-inline-block">
  	    <div>All Products</div>
  	  </a>
  	  <a href="/collections/back-bar" class="sub-hero-flex-link-collection sub-hero-flex-link-collection-middle w-inline-block">
  	    <div>Back Bar</div>
  	  </a>
  	  <a href="/collections/swag" class="sub-hero-flex-link-collection w-inline-block">
  	    <div>Swag</div>
  	  </a>
  	</div>
  </div>
</div>
{%endcomment%}
 
 <div class="mid-wrapper-collection">
	<div class="container-mid">
		{% section 'jc-bundles-content-section' %}
	</div>
</div>   

{% section 'jc-bar-cta-collection' %}
{% section 'jc-cta-section-marketing' %}