
<div class="hero-wrapper-policies">
  <div class="hero-content-container-policies">
    <div class="hero-content-wrapper-policies">
      <h2 class="hero-heading-policies">Wholesale</h2>
      <h1 class="hero-sub-heading-policies">policies</h1>
    </div>
  </div>
</div>
<div class="mid-wrapper-policies">
  <div class="mid-content-holder-policies">
    <div class="content-block-policies">
      <div class="content-heading-wrapper-policies" data-ix="policy-expand">
        <h4 class="content-heading-policies">Buyer Terms</h4>
        <div class="content-img-wrapper-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-black_1plus-black.png" alt="Plus Black" class="content-img-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-blue.png" alt="Plus Pink" class="content-img-active-policies"></div>
      </div>
      <div class="expand-wrapper-policies">
        <div class="expand-inner-policies">
          <p class="expand-text-policies">Buyer of any Products agrees not to resell any Products on Amazon.com or list products on any other website outside of the agreed upon platforms and website(s) as per the Wholesale Agreement signed by Buyer and Seller. Seller reserves the right to terminate and recall product from Buyer should these Terms be violated, or arbitrate based on this violation. If reseller seeks to resell to additional Sellers, this must be agreed upon by both parties, and any additional Sellers must sign this Agreement as well. Failure to disclose other retailers, resellers, or Agreements in which the Buyer is reselling Products to other Sellers outside of the location(s) and/or website(s) disclosed in this Agreement will result in termination of this Agreement. Seller agrees to grant primary Buyer exclusivity to any new retail accounts that Buyer activates, though Buyer must make Seller aware of such retail distribution relationships.</p>
        </div>
      </div>
    </div>
    <div class="content-block-policies">
      <div class="content-heading-wrapper-policies" data-ix="policy-expand">
        <h4 class="content-heading-policies">Purchasing Terms</h4>
        <div class="content-img-wrapper-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-black_1plus-black.png" alt="Plus Black" class="content-img-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-blue.png" alt="Plus Pink" class="content-img-active-policies"></div>
      </div>
      <div class="expand-wrapper-policies">
        <div class="expand-inner-policies">
          <p class="expand-text-policies">Buyer of any Products agrees not to resell any Products on Amazon.com or list products on any other website outside of the agreed upon platforms and website(s) as per the Wholesale Agreement signed by Buyer and Seller. Seller reserves the right to terminate and recall product from Buyer should these Terms be violated, or arbitrate based on this violation. If reseller seeks to resell to additional Sellers, this must be agreed upon by both parties, and any additional Sellers must sign this Agreement as well. Failure to disclose other retailers, resellers, or Agreements in which the Buyer is reselling Products to other Sellers outside of the location(s) and/or website(s) disclosed in this Agreement will result in termination of this Agreement. Seller agrees to grant primary Buyer exclusivity to any new retail accounts that Buyer activates, though Buyer must make Seller aware of such retail distribution relationships.</p>
        </div>
      </div>
    </div>
    <div class="content-block-policies">
      <div class="content-heading-wrapper-policies" data-ix="policy-expand">
        <h4 class="content-heading-policies">Buyer Pricing</h4>
        <div class="content-img-wrapper-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-black_1plus-black.png" alt="Plus Black" class="content-img-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-blue.png" alt="Plus Pink" class="content-img-active-policies"></div>
      </div>
      <div class="expand-wrapper-policies">
        <div class="expand-inner-policies">
          <p class="expand-text-policies">Buyer of any Products agrees not to resell any Products on Amazon.com or list products on any other website outside of the agreed upon platforms and website(s) as per the Wholesale Agreement signed by Buyer and Seller. Seller reserves the right to terminate and recall product from Buyer should these Terms be violated, or arbitrate based on this violation. If reseller seeks to resell to additional Sellers, this must be agreed upon by both parties, and any additional Sellers must sign this Agreement as well. Failure to disclose other retailers, resellers, or Agreements in which the Buyer is reselling Products to other Sellers outside of the location(s) and/or website(s) disclosed in this Agreement will result in termination of this Agreement. Seller agrees to grant primary Buyer exclusivity to any new retail accounts that Buyer activates, though Buyer must make Seller aware of such retail distribution relationships.</p>
        </div>
      </div>
    </div>
    <div class="content-block-policies">
      <div class="content-heading-wrapper-policies" data-ix="policy-expand">
        <h4 class="content-heading-policies">Shipping</h4>
        <div class="content-img-wrapper-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-black_1plus-black.png" alt="Plus Black" class="content-img-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-blue.png" alt="Plus Pink" class="content-img-active-policies"></div>
      </div>
      <div class="expand-wrapper-policies">
        <div class="expand-inner-policies">
          <p class="expand-text-policies">Buyer of any Products agrees not to resell any Products on Amazon.com or list products on any other website outside of the agreed upon platforms and website(s) as per the Wholesale Agreement signed by Buyer and Seller. Seller reserves the right to terminate and recall product from Buyer should these Terms be violated, or arbitrate based on this violation. If reseller seeks to resell to additional Sellers, this must be agreed upon by both parties, and any additional Sellers must sign this Agreement as well. Failure to disclose other retailers, resellers, or Agreements in which the Buyer is reselling Products to other Sellers outside of the location(s) and/or website(s) disclosed in this Agreement will result in termination of this Agreement. Seller agrees to grant primary Buyer exclusivity to any new retail accounts that Buyer activates, though Buyer must make Seller aware of such retail distribution relationships.</p>
        </div>
      </div>
    </div>
    <div class="content-block-policies">
      <div class="content-heading-wrapper-policies" data-ix="policy-expand">
        <h4 class="content-heading-policies">Product Returns</h4>
        <div class="content-img-wrapper-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-black_1plus-black.png" alt="Plus Black" class="content-img-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-blue.png" alt="Plus Pink" class="content-img-active-policies"></div>
      </div>
      <div class="expand-wrapper-policies">
        <div class="expand-inner-policies">
          <p class="expand-text-policies">Buyer of any Products agrees not to resell any Products on Amazon.com or list products on any other website outside of the agreed upon platforms and website(s) as per the Wholesale Agreement signed by Buyer and Seller. Seller reserves the right to terminate and recall product from Buyer should these Terms be violated, or arbitrate based on this violation. If reseller seeks to resell to additional Sellers, this must be agreed upon by both parties, and any additional Sellers must sign this Agreement as well. Failure to disclose other retailers, resellers, or Agreements in which the Buyer is reselling Products to other Sellers outside of the location(s) and/or website(s) disclosed in this Agreement will result in termination of this Agreement. Seller agrees to grant primary Buyer exclusivity to any new retail accounts that Buyer activates, though Buyer must make Seller aware of such retail distribution relationships.</p>
        </div>
      </div>
    </div>
    <div class="content-block-policies">
      <div class="content-heading-wrapper-policies" data-ix="policy-expand">
        <h4 class="content-heading-policies">Hold Harmless and Indemnification</h4>
        <div class="content-img-wrapper-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-black_1plus-black.png" alt="Plus Black" class="content-img-policies"><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/plus-blue.png" alt="Plus Pink" class="content-img-active-policies"></div>
      </div>
      <div class="expand-wrapper-policies">
        <div class="expand-inner-policies">
          <p class="expand-text-policies">Buyer of any Products agrees not to resell any Products on Amazon.com or list products on any other website outside of the agreed upon platforms and website(s) as per the Wholesale Agreement signed by Buyer and Seller. Seller reserves the right to terminate and recall product from Buyer should these Terms be violated, or arbitrate based on this violation. If reseller seeks to resell to additional Sellers, this must be agreed upon by both parties, and any additional Sellers must sign this Agreement as well. Failure to disclose other retailers, resellers, or Agreements in which the Buyer is reselling Products to other Sellers outside of the location(s) and/or website(s) disclosed in this Agreement will result in termination of this Agreement. Seller agrees to grant primary Buyer exclusivity to any new retail accounts that Buyer activates, though Buyer must make Seller aware of such retail distribution relationships.</p>
        </div>
      </div>
    </div>
  </div>
</div>