{% unless customer %}
{% section 'sk-header-alt' %}
{% endunless %}

<div class="page-wrapper-sms">
  <div class="container-sms">
    <div class= "main-heading-wrapper-sms">
      <h1 class="main-heading-sms">Thanks for Applying Babe!</h1>
      <p class="heading-text-sms">Thank you for submitting your Zandi Land Professional application! We're busy reviewing your information. If we need to verify any information or received the incorrect Tax Verification certificate, we'll reply with some follow up info. Once approved,  you'll receive an email to log in to your wholesale account. You will receive a response from our accounts team in 2-3 business days</p>
      <p class="heading-text-sms"><br><strong>We are so happy that you found us and we cannot wait to welcome you to the party!</strong></p>
    
    </div>
    <div class="form-wrapper-sms">
      {%comment%}
      <div class="klaviyo-form-SGUM5h"></div>
      {%endcomment%}
      <img src="https://cdn.shopify.com/s/files/1/0004/5829/3310/files/giphy.gif?v=1669935059">
    </div>
  </div>
</div>



{% unless customer %}

  {% section 'sk-footer-alt' %}
    
{% endunless %}