<div class="hero-wrapper-meta">
  <div class="hero-content-wrapper-meta">
    <h1 class="hero-heading-meta">{{ page.title }}</h1>
  </div>
</div>

<div class="mid-wrapper-meta">
  <div class="mid-content-holder-meta">
    <div class="rte-meta w-richtext">
      {{ page.content }}
    </div>
  </div>
</div>