<div class="mid-wrapper-auto">
  <div class="mid-content-wrapper-auto">
    <div class="mid-icon-section-auto">

      <div id="shopify-section-jc-auto-icon-section" class="shopify-section"><div class="mid-heading-wrapper-auto">
  <h3 class="mid-heading-auto">EMAIL SENT!</h3>
  <p class="mid-heading-text-auto">Your password reset request has been sent successfully! Please check your email to complete the reset. If you do not see an email, please check your spam or promotions folder as it's likely in there.</p>
  <a href="/account/login" class="nav-link w-nav-link">LOGIN</a>
</div>

