{% section 'jc-auto-hero-section' %}
{% section 'jc-auto-sub-hero-section' %}


<div class="mid-wrapper-auto">
  <div class="mid-content-wrapper-auto">
    <div class="mid-icon-section-auto">

      {% section 'jc-auto-icon-section' %}
      
    </div>


    {% section 'jc-auto-faq-section' %}

   

  </div>
</div>