<div class="hero-wrapper-collection" ></div>

{% section 'sk-kitten-hero'%}

 <div class="mid-wrapper-bundles">
 	<div class="container-mid">
        <div class="bundler-target-element" data-bndlr-ccid="44da"></div>
 	</div>
 </div> 