{% section 'jc-faq-hero-section' %}


<div class="tabs-section-faq">
  <div data-duration-in="300" data-duration-out="100" class="tabs-faq w-tabs">
    <div class="tabs-menu-faq w-tab-menu">
      <a data-w-tab="Tab 1" class="tab-menu-link-faq w-inline-block w-tab-link w--current">
        <div>PRO TIPS</div><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/underline-b-min-link.png" alt="Underline" class="tab-menu-link-img-faq"></a>
      <a data-w-tab="Tab 2" class="tab-menu-link-faq tab-menu-link-faq-border w-inline-block w-tab-link">
        <div>PRICING</div><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/underline-b-min-link.png" alt="Underline" class="tab-menu-link-img-faq"></a>
      <a data-w-tab="Tab 3" class="tab-menu-link-faq w-inline-block w-tab-link">
        <div>SHIPPING &amp; RETURNS</div><img src="//cdn.shopify.com/s/files/1/0004/5829/3310/files/underline-b-min-link.png" alt="Underline" class="tab-menu-link-img-faq"></a>
    </div>
    <div class="w-tab-content">
      <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">

        {% section 'jc-faq-pro-tips' %}
       
      </div>
      <div data-w-tab="Tab 2" class="w-tab-pane">

        {% section 'jc-faq-pricing' %}  
        
      </div>
      <div data-w-tab="Tab 3" class="w-tab-pane">

        {% section 'jc-faq-shipping-returns' %} 

      </div> <!-- Tab 3 -->

    </div>
  </div>
</div>

{% section 'jc-faq-cta-section' %} 

